In [1]:
%gpt generate code to add numbers using python

Please enter openai api key: ········

In [ ]:
# Using a function
def add_numbers(x, y):
    return x + y

# Using an expression
sum = x + y

In [7]:
%gpt Read file /data/store_sales/train.csv into pandas dataframe

In [8]:
import pandas as pd

df = pd.read_csv('/data/store_sales/train.csv')

In [10]:
df.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [ ]:
%gpt