In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/data/train_1.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
from pandasql import sqldf

output = sqldf("select * from df")

TypeError: 'module' object is not callable

In [7]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Collecting numpy
  Downloading https://files.pythonhosted.org/packages/9c/ee/77768cade9607687fadbcc1dcbb82dba0554154b3aa641f9c17233ffabe8/numpy-1.24.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 15.7MB/s eta 0:00:01
Collecting pandas
  Downloading https://files.pythonhosted.org/packages/54/a0/c62d63c5c69be9aae07836e4d7e25e7a6f5590be3d8f2d53f43eeec5c475/pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2MB)
     |████████████████████████████████| 12.2MB 26kB/s /s eta 0:00:01
Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/e6/28/a9e9c3ccf8fcd2f9bc578ce8786c41607b2edf0dce9708cc5fc4fb14c34b/SQLAlchemy-2.0.5.post1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8MB)
     |████████████████████████████████| 2.8MB 81.7MB/s eta 0:00:01
Collecting python-dateutil>=2.8.1
  Downloading https://files.pythonhosted.org/packages/36/7a/87837f39d0296e723bb9b62bbb257d0355c7f6128853c78955f57342a56d/python_dateutil-2.8.2-py2.py3-none-any.whl (247kB)
     |████████████████████████████████| 256kB 88.5MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading https://files.pythonhosted.org/packages/2e/09/fbd3c46dce130958ee8e0090f910f1fe39e502cc5ba0aadca1e8a2b932e5/pytz-2022.7.1-py2.py3-none-any.whl (499kB)
     |████████████████████████████████| 501kB 85.6MB/s eta 0:00:01
Collecting typing-extensions>=4.2.0
  Downloading https://files.pythonhosted.org/packages/31/25/5abcd82372d3d4a3932e1fa8c3dbf9efac10cc7c0d16e78467460571b404/typing_extensions-4.5.0-py3-none-any.whl
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading https://files.pythonhosted.org/packages/7c/5f/ee39d27a08ae6b93f14faa953a6593dad888df75ae55ff479135e64ad4fe/greenlet-2.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (618kB)
     |████████████████████████████████| 624kB 99.0MB/s eta 0:00:01
Collecting six>=1.5
  Downloading https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp38-none-any.whl size=26771 sha256=d500e39ddebe63943b8647c9b5c0dd329be730101813314528e4fde77d73d64b
  Stored in directory: /home/mosaic-ai/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: numpy, six, python-dateutil, pytz, pandas, typing-extensions, greenlet, sqlalchemy, pandasql
Successfully installed greenlet-2.0.2 numpy-1.24.2 pandas-1.5.3 pandasql-0.7.3 python-dateutil-2.8.2 pytz-2022.7.1 six-1.16.0 sqlalchemy-2.0.5.post1 typing-extensions-4.5.0
WARNING: You are using pip version 19.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.