In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/data/train_1.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
import duckdb

df1 = duckdb.query("SELECT * FROM df limit 10").df()

In [17]:
# sample code linear regression

In [19]:
df1 = duckdb.query("SELECT * FROM df limit 10").d

AttributeError: 'duckdb.DuckDBPyRelation' object has no attribute 'd'

In [9]:
!pip install duckdb

Collecting duckdb
  Downloading https://files.pythonhosted.org/packages/cf/38/965c2f99388ded136632fff99b23907c873cba06c495da3419b1709bf0aa/duckdb-0.7.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (15.2MB)
     |████████████████████████████████| 15.2MB 27kB/s s eta 0:00:01
Installing collected packages: duckdb
Successfully installed duckdb-0.7.1
WARNING: You are using pip version 19.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.